<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollbothstoragejfa;AccountKey=OXlvO/CH963kc4tMixZleDlv2vfrmyz/PMgdE+6/fTg0N2CZ3US6QG8H6VqzRaleK3SjhnNrzTlhUzU2dNeuTw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>